#calendar {
    max-width: 900px;
    margin: 20px auto;
}

.form-group {
    margin-bottom: 0.2rem;
}

.form-suntimes {
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: -8px;
}

.text-sunrise {
    margin-right: 10px;
}

.text-sunset {
    margin-left: 10px;
}

.text-description {
    word-break: break-word;
}

@media(max-width: 767px) {
    .fc-toolbar.fc-header-toolbar {
        display: flex;
        flex-direction: column;
    }
    .fc-toolbar.fc-header-toolbar .fc-left {
        order: 3;
        margin-top: 4px;
    }
    .fc-toolbar.fc-header-toolbar .fc-center {
        order: 1;
    }
    .fc-toolbar.fc-header-toolbar .fc-right {
        order: 2;
        margin-top: 4px;
    }
}
